services:
  postgres:
    image: postgres:17-bookworm
    environment:
      POSTGRES_DB: messenger
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432" 

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d messenger"]
      interval: 5s
      timeout: 3s
      retries: 5

    volumes:
      - ./pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6380:6379"
    healthcheck:
      test: ["CMD-SHELL", "redis-cli", "ping"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 30s
